* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1585314062604-1a357de8b000?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80");
}

.main-title {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
}

.second-title {
    font-size: 30px;
    font-family: monospace;
    color: chocolate;
}

.add-doggo, .add-doggo-breed {
    border-radius: 2px;
    background-color: #A09F57;
    color: rgb(0, 0, 0);
    padding: 2px 15px;
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    cursor: pointer;
    border: none;
}

.add-doggo:hover, .add-doggo-breed:hover {
    background-color: #b6b56e;
}

.add-doggo:active, .add-doggo-breed:active {
    background-color: #74733d;
}

.doggos {
    margin-top: 15px;
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-self: stretch;
    width: 100%;
    background-color: rgba(255, 235, 205, 0.336);
}

.breed-selector-title {
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: peru;
}

.breed-selector {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #faeb95;
    color: chocolate;
    border-radius: 2px;
    cursor: pointer;
}